{
  "root": true,
  "extends": ["@react-native-community", "prettier"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"],
    "jsx-quotes": ["error", "prefer-single"]
  }
}
